.home {
    height: 92vh;
    background-color: rgb(218, 238, 170);
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
}


.profile-image {
    margin-bottom: 10px;
    border-radius: 10%;
}